<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trinkspiel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trinkspiel">
        <activity android:name=".MainActivity" />
        <activity android:name=".MainSettings" />
        <activity android:name=".GameLoop" />
        <activity android:name=".PackageSelectionPage" />
        <activity android:name=".MoreInformationPage" />
        <activity android:name=".MarketPage" />
        <activity android:name=".GroupSelectionPage" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>